<div class="main-content-warpper">
  <mat-card>

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Vending Machine Demo</mat-card-title>
      <mat-card-subtitle>Supply and Purchase</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The vending machine contains an initial one can and will be able to accept purchases as well as resupply.
      </p>
      <p>

        <a matLine [routerLink]='["/vendingmachine"]'>
          Please click here to start the demo.</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
